<!DOCTYPE html>
<html ng-app='myApp'>

	<head>
		<meta charset="utf-8" />
		<title>汉金所</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
	</head>
	<body ng-controller='myCtrl'>
		<div class='contianner'>
			<!--header-->
			<header>
				<div class='ie_header'>
				<div class='box'>
					<div>
						<span>客服热线：4007-360-125</span>
						<span><a href="javascript:;">企业理财</a></span> 关注我们：
						<a href="javascript:;" class='weixin'>
							<div class='erweima'>汉金所官方微信:<br /><img src="img/qr-img2.jpg" /></div>
						</a>
						<a href="javascript:;" class='weibo'>
							<div class='weibo_title'>
								点击关注汉金所微博：<br />
								<span>汉金所微博</span>
							</div>
						</a>
						<a href="javascript:;" class='qq'>
							<div class='qq_title'>
								汉金所官方QQ：<br /> 3048576
							</div>
						</a>
					</div>
					<div class='header_right'>
						<a class='login' href="javascript:;" id='showLogin'>登录</a>
						<span><a href="javascript:;">注册</a></span>
						<a href="javascript:;">新手指引</a>
						<a href="javascript:;">帮助中心</a>
						<a href="javascript:;">安全保障</a>
						<a href="javascript:;">会员俱乐部</a>
					</div>
				</div>
			</div>
			</header>
			<!--导航-->
			<div id="nav">

				<div class="box nav">
					<img src="img/logo_03.jpg" />
					<ul>
						<li>
							<a href="javascript:;" class='index'>首页</a>
						</li>
						<li>
							<a href="javascript:;">理财专区</a>
						</li>
						<li>
							<a href="javascript:;">我的账户</a>
						</li>
						<li>
							<a href="javascript:;">活动专区</a>
						</li>
						<li>
							<a href="javascript:;">关于我们</a>
						</li>
					</ul>
				</div>
			</div>
			<!--轮播-->
			<div class='banner'>
				<ul>
					<li ng-repeat='item in banner'>
						<a ng-href="{{item.href}}" class='byc{{$index}}'>
							<span ng-repeat='x in l12' style='background: url({{item.img}}) no-repeat; background-position-x: {{-x*(pw/fdg)-300}}px; background-size: cover;'></span>
						</a>
					</li>
				</ul>
				<ol id='banner_focus'>
					<li ng-repeat="item in banner" class='{{item.status}}' ng-click='toggle($index)'></li>
				</ol>
				<div class='new_zx'>
					<h1>新手专享170414</h1>
					<p>
						<span class='large'>9</span>%+0.88%
					</p>
					<p>预期年化利率</p>
					<p class='new_zx_f'>1个月理财 | 第三方担保</p>
					<p>
						<button>
								<span class='redbao'></span>
								注册领588元红包
							</button>
					</p>
				</div>
				<div class='banner_line'>
					<ul>
						<li>
							<span class='run_time'></span> 运营时间：<span ng-bind='serviceTime'></span>天
						</li>
						<li>
							<span class='total_cj'></span> 累计成交：
							<span>1,712,328,294</span>元
						</li>
						<li>
							<span class='total_get'></span> 累计赚取：
							<span>88,508,529</span>元
						</li>
						<li>
							<span class='gonggao'></span> 2017年6月16日汉金所发标公告
						</li>
					</ul>
				</div>
			</div>
			<!--国资控股-->
			<div class='box banner_bottom'>
				<ul class='banner_bottom_left'>
					<li>
						<img src="img/adv-01.png" /> 国资控股 稳健经营
					</li>
					<li>
						<img src="img/adv-02.png" /> AA+担保 严格审核
					</li>
					<li>
						<img src="img/adv-03.png" /> 3亿注册金 专业化团队
					</li>
				</ul>
				<div class='peo_buy'>
					<h3>大家都在抢</h3>
					<ul>
						<li ng-repeat='itemd in peo_buy'>
							<a ng-href="{{itemd.href}}">
								<time ng-bind='itemd.time+"小时前"'></time>
								<span ng-bind='itemd.user.slice(0,3)+"**"'></span>
								<label ng-bind='itemd.product'></label>
							</a>
						</li>
						<!--<li>
								<time>1小时前</time>
								<span>1**抢购了</span>
								<label>樱花3号514期</label>
							</li>-->
					</ul>
				</div>
			</div>
			<!--背景灰色部分-->
			<div class='bg_e'>
				<!--新手红包-->
				<div class='box'>
					<ul class='more_hd'>
						<li>
							<img src="img/FE465EA30F415E3AF897F72DCAE9E9B2.jpg" />
							<h2>新手标</h2>
							<div>
								<span>预期年化利率</span>
								<span>理财期限</span>
							</div>
							<div>
								<span class='f_red'>
										<span class='f_large'>
											9.00</span>% +0.88%
								</span>
								<span class='mc'>
										5天
									</span>
							</div>
							<div>
								<span>0人已投</span>
								<span>
										<button>立即抢购</button>
									</span>
							</div>
						</li>
						<li>
							<img src="img/F11661FD7034B357148F7F5BFF803039.png" />
							<h2>新手标</h2>
							<div>
								<span>预期年化利率</span>
								<span>理财期限</span>
							</div>
							<div>
								<span class='f_red'>
										<span class='f_large'>
											9.00</span>% +0.88%
								</span>
								<span class='mc'>
										5天
									</span>
							</div>
							<div>
								<span>0人已投</span>
								<span>
										<button>立即抢购</button>
									</span>
							</div>
						</li>
						<li>
							<img src="img/FF530B586C97A9D4B54557E520786149.png" />
							<h2>新手标</h2>
							<div>
								<span>预期年化利率</span>
								<span>理财期限</span>
							</div>
							<div>
								<span class='f_red'>
										<span class='f_large'>
											9.00</span>% +0.88%
								</span>
								<span class='mc'>
										5天
									</span>
							</div>
							<div>
								<span>0人已投</span>
								<span>
										<button>立即抢购</button>
									</span>
							</div>
						</li>
						<li class='more_hd_last'>
							<img src="img/C3DB849FB0B2EE06029018579358E4DB.png" />
							<h2>新手标</h2>
							<div>
								<span>预期年化利率</span>
								<span>理财期限</span>
							</div>
							<div>
								<span class='f_red'>
										<span class='f_large'>
											9.00</span>% +0.88%
								</span>
								<span class='mc'>
										5天
									</span>
							</div>
							<div>
								<span>0人已投</span>
								<span>
										<button>立即抢购</button>
									</span>
							</div>
						</li>
					</ul>
				</div>
				<!--精选-->
				<div class="box">
					<div class='collect'>
						<div>
							<h1>精选</h1>
							<h3>为你推荐</h3>
							<p><span>更多理财&gt;</span></p>
						</div>
						<ul>
							<!--<li ng-repeat='item in collect'>
									<div>
										<label ng-bind='item.title'></label>
										<span class='three_db'>
											第三方担保
										</span>
									</div>
									<div>
										<div>
											<div>
												<span class='f_red'>
													<span class='f_large' ng-bind='item.year'>
														
													</span>%
												</span>
												<span>183天</span>
												<span>828,000元</span>
												<span class='loading_box'>
													<label class='loading'>
														<span class='load_index'></span>
													</label>
													18%
												</span>
											</div>
											<div>
												<span>预期年化利率</span>
												<span>理财期限</span>
												<span>剩余金额</span>
												<span>理财进度</span>
											</div>
										</div>
										<div>
											<label>
												<span>1000元起投</span>
												<span>立即抢购</span>
											</label>
										</div>
									</div>
								</li>-->
							<li>
								<div class='collect_1'>
									<label>樱花3号514期</label>
									<span class='three_db'>
											第三方担保
										</span>
								</div>
								<div class='collect_2'>
									<div class='collect_2_1'>
										<div>
											<span class='f_red'>
													<span class='f_large'>
														7.50
													</span>%
											</span>
											<span>183天</span>
											<span>828,000元</span>
											<span class='loading_box'>
													<label class='loading'>
														<span class='load_index'></span>
											</label>
											18%
											</span>
										</div>
										<div class='collect_2_1_2'>
											<span>预期年化利率</span>
											<span>理财期限</span>
											<span>剩余金额</span>
											<span>理财进度</span>
										</div>
									</div>
									<div class='collect_2_2'>
										<label>
												<span class='collect_2_2_1'>1000元起投</span>
												<span class='collect_2_2_2'>立即抢购</span>
											</label>
									</div>
								</div>
							</li>
							<li>
								<div class='collect_1'>
									<label>樱花3号514期</label>
									<span class='three_db'>
											第三方担保
										</span>
								</div>
								<div class='collect_2'>
									<div class='collect_2_1'>
										<div>
											<span class='f_red'>
													<span class='f_large'>
														7.50
													</span>%
											</span>
											<span>183天</span>
											<span>828,000元</span>
											<span class='loading_box'>
													<label class='loading'>
														<span class='load_index'></span>
											</label>
											18%
											</span>
										</div>
										<div class='collect_2_1_2'>
											<span>预期年化利率</span>
											<span>理财期限</span>
											<span>剩余金额</span>
											<span>理财进度</span>
										</div>
									</div>
									<div class='collect_2_2'>
										<label>
												<span class='collect_2_2_1'>1000元起投</span>
												<span class='collect_2_2_2'>立即抢购</span>
											</label>
									</div>
								</div>
							</li>
							<li>
								<div class='collect_1'>
									<label>樱花3号514期</label>
									<span class='three_db'>
											第三方担保
										</span>
								</div>
								<div class='collect_2'>
									<div class='collect_2_1'>
										<div>
											<span class='f_red'>
													<span class='f_large'>
														7.50
													</span>%
											</span>
											<span>183天</span>
											<span>828,000元</span>
											<span class='loading_box'>
													<label class='loading'>
														<span class='load_index'></span>
											</label>
											18%
											</span>
										</div>
										<div class='collect_2_1_2'>
											<span>预期年化利率</span>
											<span>理财期限</span>
											<span>剩余金额</span>
											<span>理财进度</span>
										</div>
									</div>
									<div class='collect_2_2'>
										<label>
												<span class='collect_2_2_1'>1000元起投</span>
												<span class='collect_2_2_2'>立即抢购</span>
											</label>
									</div>
								</div>
							</li>
							<li>
								<div class='collect_1'>
									<label>樱花3号514期</label>
									<span class='three_db'>
											第三方担保
										</span>
								</div>
								<div class='collect_2'>
									<div class='collect_2_1'>
										<div>
											<span class='f_red'>
													<span class='f_large'>
														7.50
													</span>%
											</span>
											<span>183天</span>
											<span>828,000元</span>
											<span class='loading_box'>
													<label class='loading'>
														<span class='load_index'></span>
											</label>
											18%
											</span>
										</div>
										<div class='collect_2_1_2'>
											<span>预期年化利率</span>
											<span>理财期限</span>
											<span>剩余金额</span>
											<span>理财进度</span>
										</div>
									</div>
									<div class='collect_2_2'>
										<label>
												<span class='collect_2_2_1'>1000元起投</span>
												<span class='collect_2_2_2'>立即抢购</span>
											</label>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!--安心理财-->
				<div class='box ease'>
					<div>
						<h1>安心理财</h1>
						<h3>安全放心</h3>
						<p><span>更多理财&gt;</span></p>
					</div>
					<ul>
						<li>
							<label>车稳盈-CC027期</label>
							<div>
								<div>
									<p>预期年化利率<span class='f_red'><span class='f_large'>8.00</span>%</span>
									</p>
									<p>期限<span>30</span>天</p>
									<p>起投金额<span>100</span>元</p>
									<p>剩余金额<span>0</span>元</p>
									<p><span>4</span>人已投</p>
								</div>
							</div>
							<p>
								<button class='abled'>立即投购</button>
							</p>
						</li>
						<li>
							<label>车稳盈-CC027期</label>
							<div>
								<div>
									<p>预期年化利率<span class='f_red'><span class='f_large'>8.00</span>%</span>
									</p>
									<p>期限<span>30</span>天</p>
									<p>起投金额<span>100</span>元</p>
									<p>剩余金额<span>0</span>元</p>
									<p><span>4</span>人已投</p>
								</div>
							</div>
							<p>
								<button class='abled'>立即投购</button>
							</p>
						</li>
						<li>
							<label>车稳盈-CC027期</label>
							<div>
								<div>
									<p>预期年化利率<span class='f_red'><span class='f_large'>8.00</span>%</span>
									</p>
									<p>期限<span>30</span>天</p>
									<p>起投金额<span>100</span>元</p>
									<p>剩余金额<span>0</span>元</p>
									<p><span>4</span>人已投</p>
								</div>
							</div>
							<p>
								<button class='abled'>立即投购</button>
							</p>
						</li>
					</ul>
				</div>
				<!--媒体报道-->
				<div class="box media">
					<div class='media_l'>
						<h2>媒体报道<span><a href="javascript:;">更多&gt;</a></span></h2>
						<ul>
							<li>
								<p><img src="img/meiti485.jpg" /></p>
								<div>
									<label><a href="javascript:;">汉金所：收益率下降是大势所趋 未来我们会坚持稳健发展</a></label>
									<span>发布时间：<time>2017-03-30</time></span>
								</div>
							</li>
							<li>
								<p><img src="img/meiti346.jpg" /></p>
								<div>
									<label><a href="javascript:;">汉金所：收益率下降是大势所趋 未来我们会坚持稳健发展</a></label>
									<span>发布时间：<time>2017-03-30</time></span>
								</div>
							</li>
							<li>
								<p><img src="img/meiti373.jpg" /></p>
								<div>
									<label><a href="javascript:;">汉金所：收益率下降是大势所趋 未来我们会坚持稳健发展</a></label>
									<span>发布时间：<time>2017-03-30</time></span>
								</div>
							</li>
							<li>
								<p><img src="img/meiti484.jpg" /></p>
								<div>
									<label><a href="javascript:;">汉金所：收益率下降是大势所趋 未来我们会坚持稳健发展</a></label>
									<span>发布时间：<time>2017-03-30</time></span>
								</div>
							</li>
						</ul>
					</div>
					<div  class='media_r'>
						<h2>行业动态<span><a href="javascript:;">更多&gt;</a></span></h2>
						<ul>
							<li><a href="javascript:;">多部委发布金融业界标准 互联网+迎来崭新时代 我们的故事</a></li>
							<li><a href="javascript:;">多部委发布金融业界标准 互联网+迎来崭新时代 我们的故事</a></li>
							<li><a href="javascript:;">多部委发布金融业界标准 互联网+迎来崭新时代 我们的故事</a></li>
							<li><a href="javascript:;">多部委发布金融业界标准 互联网+迎来崭新时代 我们的故事</a></li>
							<li><a href="javascript:;">多部委发布金融业界标准 互联网+迎来崭新时代 我们的故事</a></li>
							<li><a href="javascript:;">多部委发布金融业界标准 互联网+迎来崭新时代 我们的故事</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--银行链接-->
			<div class='sponsor'>
				<div class='box'>
					<ul>
						<li>
							<a href="javascript:;"><img src="img/flink-01.png" alt="" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="img/flink-02.png" alt="" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="img/flink-03.png" alt="" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="img/flink-04.png" alt="" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="img/flink-05.png" alt="" /></a>
						</li>
					</ul>
				</div>
			</div>
			<!--关于我们-->
			<div class="box regard">
				<div class='regard_l'>
					<p>
						关于我们：
						<a href="javascript:;">公司介绍</a>
						<a href="javascript:;">风险控制</a>
						<a href="javascript:;">管理团队</a>
						<a href="javascript:;">网站公告</a>
						<a href="javascript:;">媒体报道</a>
						<a href="javascript:;">联系我们</a>
					</p>
					<p>
						友情链接：
						<a href="javascript:;">武汉金控集团</a>
						<a href="javascript:;">网贷之家</a>
						<a href="javascript:;">网贷天眼</a>
						<a href="javascript:;">网贷雷达</a>
						<a href="javascript:;">和讯P2P</a>
						<a href="javascript:;">融途网</a>
						<a href="javascript:;">网贷谈</a>
						<a href="javascript:;" class='y'>76676</a>
						<a href="javascript:;">国金联合会</a>
						<a href="javascript:;">星火钱包</a>
					</p>
					<p>
						关注我们：
						<a href="javascript:;">微信公众号</a>
						<a href="javascript:;">新浪微博</a>
						<a href="javascript:;">下载APP</a>
					</p>
				</div>
				<div class='regard_r'>
					<img src="img/qr-img2.jpg" class='down'/>
					<div>客服热线</div>
					<div class='large'>4007-360-105</div>
					<div>客服外呼热线</div>
					<div class='large'>027-52118333</div>
					<div>人工服务时间：9:00-17:30</div>
					<div>客服邮箱</div>
					<div>4008940188@hanxinbank@com</div>
					<div>投资有风险 理财需谨慎</div>
				</div>
			</div>
			<!--footer-->
			<footer>
				<div class='ie_footer'>
					<div class="box footer">
						<p>
							&copy;2016 汉金所 All rights reserved 汉信互联网金融服务（武汉）股份有限公司 鄂ICP备14017977号-1
						</p>
						<p>
							<img src="img/zggs.png" />
						</p>
					</div>
				</div>
			</footer>
		</div>
		<!--登录窗口-->
		<div id='login'>
			<div class='login_tk'>
				<div class="close"><span id='closeLogin'>&times;</span></div>
				<div class="title">
					<h2>登录</h2>
					<div>
						<a href="javascript:;">免费注册</a>
						<a href="javascript:;">忘记密码</a>
					</div>
				</div>
				<div class="user">
					<span class='user_top'></span>
					<input type="text" placeholder="请输入用户名/手机号" />
				</div>
				<div class="pass">
					<input type="text" placeholder="请输入密码" />
				</div>
				<div class="button">
					<button>登录</button>
				</div>
			</div>
		</div>
		<script  type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="js/mock.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/index.js" ></script>
	</body>

</html>