@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "微软雅黑";
}
html{
    font-size: 12px;
}
a{
    color:#999;
}
